* {
    padding: 0;
    margin: 0;
}

#centro {
    width: 90vh;
    height: 100vw;
    background: #333;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#topo {
    width: 100%;
    height: 20%;
    background: #f00;
    text-align: center;
}

#topo h1 {
    color: #fff;
    font-size: 2em;
}

#padding-colunas {
    padding: 10px;
}

.colunas2 {
    width: 50%;
    height: 30%;
    background: #999;
}

@media screen and (min-width: 320px) and (max-width: 568px){
    #centro{
        width: 100%;
    }
    #topo {
        background-color: yellow;
    }

    #topo h1 {
        color: #fff;
    }

    .colunas2 {
        width: 100%;
        float: none;
        background-color: turquoise;
        margin-top: 5px;
    }
}