
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    height: 100px;
    background-color: rgb(104, 145, 59);
}

.title-top{
    text-align: center;
    padding-top: 15px;
}

aside {
    display: inline-block;
    min-width: 30%;
    height: auto;
    margin: 5px;
    padding: 5px;
    /* border: solid 1px black; */
}

.itens {
    margin: 10px;
    border-radius: 2px;
}

.label-itens {
    display: block;
    width: 80%;
    height: 40%;
    font-size: 1.1em;
    background-color: whitesmoke;
    padding-left: 10px;
    margin-bottom: 2px;
}

.input-itens {
    margin: 5px;
    margin-left: 10%;
    width: 15%;
}

.select-itens {
    margin: 5px;
    margin-left: 5%;
    width: 20%;
}

.buttons-itens {
    display: inline-block;
    margin-left: 15%;
    padding: 5px;
    width: 20%;
    background-color: limegreen;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.buttons-itens:focus { 
    outline:none 
}
.buttons-itens:hover {
    cursor: pointer;
    background-color: #FABD44;
}

#btn-italico {
    background-color: linen;
}

.text-model {
    display: inline-block;
    max-width: 70%;
    height: auto;
    position: absolute;
    padding: 10px;
    border: solid 1px black;
    margin: 5px;
}

.text-model p {
    font-size: 1.2em;
    line-height: 1em;
}

