body {
    font-size: 16px;
}

h1 {
    font-size: 61px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#red {
    background: red;
}

#yellow {
    background: yellow;
}

#brown {
    background: brown;
}

.new-color {
    background: sandybrown;
}

.list-style {
    background: rebeccapurple;
    font-style: italic;
    line-height: 30px;
    text-align: center;
}