.pokemon {
  align-items: center;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 10px;
  display: flex;
  margin: 5px;
  padding: 5px;
  min-width: 45%;
}

.pokemon-content-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.pokemon-content-image {
  width: 50%;
}