* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Luckiest Guy', cursive, 'Quasttrocento', serif;
}

header, aside, article, footer {
  background-color: white;
}

@media screen and (max-width: 500px){
  header {
    align-items: center;
    background-color: #728639;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 120px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  header p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
  }

  header nav {
    width: 100%;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
  }

  .aside-one , .aside-two , .main-content , footer {
    border-radius: 3px;
    height: auto;
    margin: 5px;
    padding: 5px;
    position: relative;
    top: 120px;
  }

  .aside-one {
    background-color: #062E03;
    color: #fff;
    font-family: 'Space Mono', monospace;
    height: auto;
    line-height: 30px;
    text-align: center;
  }

  .aside-two {
    background-color: #062E03;
    color: white;
  }

  .aside-two h2 {
    font-size: 1.2em;
    margin: 2px;
  }

  .aside-two ul {
    line-height: 25px;
  }

  .main-content {
    background-color: #FF964F;
    font-family: 'Gudea', sans-serif;
  }

  .main-content h1 {
    text-align: center;
  }

  .main-content p {
    line-height: 20px;
    margin-bottom: 5px;
    padding: 3px;
  }

  footer {
    background-color: #728639;
  }

  footer h3 {
    margin-bottom: 3px;
  }

} 

@media screen and (min-width: 501px) {
  header {
    background-color: #017371;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    flex-wrap: wrap-reverse;
    height: 100px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  header p {
    align-self: flex-end;
    font-size: 3vmax;
    margin: 5px;
    height: auto;
    padding: 5px;
    width: 80%;
  }
  
  header nav {
    align-self: flex-start;
  }

  nav ul li {
    font-size: 1.2em;
    font-style: italic;
    margin: 5px;
  }

  .aside-one , .aside-two , .main-content , footer {
    border-radius: 3px;
    height: auto;
    margin: 5px;
    padding: 5px;
    position: relative;
    top: 100px;
  }

  .aside-one , .aside-two {
    box-shadow: 2px 2px 2px 2px rgb(199, 189, 189);
    display: inline-block;
    font-family: 'Space Mono', monospace;
    font-size: 2vmax;
    line-height: 22px;
    margin: 1% 0 1% 1%;
    width: 48%;
  }

  .aside-one {
    font-style: italic;
  }

  .aside-one h2{
    margin: 5px 0;
  }

  .aside-one ul li {
    margin: 4px 0;
    padding: 4px;
  }

  .aside-two {
    font-size: 1.8vmax;
    line-height: 25px;
    top: 100px;
    position: absolute;
  }

}